.ng-select.ng-select-focused .ng-select-container:after {
  border-color: #5cd6c8 !important;
}

.ng-select.ng-select-focused .ng-select-container.ng-appearance-outline:after,
.ng-select.ng-select-focused
  .ng-select-container.ng-appearance-outline:hover:after {
  border-color: #5cd6c8 !important;
}

.ng-select.ng-select-focused
  .ng-select-container
  .ng-value-container
  .ng-placeholder {
  color: #5cd6c8 !important;
}

.ng-select.ng-select-focused .ng-select-container .ng-arrow-wrapper .ng-arrow {
  color: #5cd6c8 !important;
}

.ng-select.ng-select-multiple
  .ng-select-container
  .ng-value-container
  .ng-value {
  background-color: #5cd6c8 !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-selected {
  color: #5cd6c8 !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
  color: #5cd6c8 !important;
}

.btn {
  background-color: #5cd6c8 !important;
  color: white !important;
  &:active {
    background-color: #30d3c0 !important;
  }
  &:focus {
    box-shadow: 0 0 0 0.15rem rgb(92 214 200 / 50%) !important;
  }
}

.form-control {
  &:focus {
    border-color: #30d3c0 !important;
    box-shadow: 0 0 0 0.15rem rgb(92 214 200 / 25%) !important;
  }
}

label {
  font-weight: 500;
}

@media screen and (max-width: 960px) {
  .img-section {
    display: none;
  }
  .submit-btn,
  .heading {
    text-align: center;
  }
  .align-form {
    width: 10%;
  }
  .registration-form {
    width: 80%;
  }
}
