.card {
    border-radius: 10px;
    min-height: 85vh;
    border-color: #82a9a5;
    box-shadow: 2px 2px 10px 2px #82a9a5;
}
.img-section {
    width: 30%;
    img {
        border-radius: 10px 0 0 10px;
    }
}